<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="~/css/index-css.css" rel="stylesheet">
</head>
    <body>
        <!--NAV BAR PRINCIPAL-->
        <div class="head">
            <div class="navbar__1">
                <div class="navbar__1_item">
                    <a href="Index"><img src="~/img/index-img/logo_fazzil.png" alt="" class="logo_img"></a>
                </div>
                <div class="navbar__1_item">
                    <div class="item_buscar">
                        @using (Html.BeginForm())
                        {
                            @Html.TextBox("nombre", "", new { @class = "text_buscar", @placeholder = "Buscar"})
                            <button class="btn_buscar">Buscar</button>
                        }
                        <!--<input type="text" class="text_buscar" name="" id="" placeholder="Buscar productos por nombre...">-->
                        <!--<a href="" class="fas fa-search btn_buscar"></a>-->
                    </div>
                </div>
                <div class="navbar__1_item">
                    <div class="section_user">
                        <img src="~/img/index-img/user.png" class="img_user"><br />
                        @if (ViewBag.usuario == null)
                        {
                            @Html.ActionLink("Inicio de Sesion", "Inicio", "Productos", new { @class = "link_sesion" })
                        }
                        else
                        {
                            @Html.ActionLink("Cerrar Sesion", "Cerrar", "Productos", new { @class = "link_sesion" })
                        }
                        <span>@ViewBag.usuario</span>
                    </div>
                </div>
                <div class="navbar__1_item">
                    <a href="/carrito" class="item carrito">
                        <!-- <span class="fas fa-shopping-cart"></span> -->
                        <img src="~/img/index-img/carrito.png">
                        @if (ViewBag.carrito != "null")
                        {
                            @Html.ActionLink("Carrito", "carrito", null, new { @class = "link_sesion" })
                        }
                        else { @Html.ActionLink("Carrito", "Index", new { @class = "link_sesion" }) }
                    </a>
                </div>
            </div>
        </div>
        <!--NAV BAR SECUNDARIA-->
        <div class="dropdwn">
            <center>
                <nav>
                    <ul>
                        <li><a href="Index">Inicio</a></li>

                        <li>
                            <a href="#">Categoria <i class="fas fa-caret-down"></i> </a>
                            <ul>
                                <li><a href="#">Licores y Bebidas</a></li>
                                <li><a href="#">Piqueos y Snack</a></li>
                                <li><a href="#">Confiteria y galletas</a></li>
                                <li><a href="#">Panadería y pastelería</a></li>
                                <li><a href="#">Lacteos, helados y embutidos</a></li>
                                <li><a href="#">Limpieza, salud e higiene</a></li>
                                <li><a href="#">Abarrotes</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Promociones</a></li>

                        <li>
                            <a href="#">Mi Cuenta</a>
                            <ul>
                                <li><a href="#">Mi cuenta</a></li>
                                <li><a href="#">Mis direcciones</a></li>
                                <li><a href="#">Historial de pedidos</a></li>
                                <li><a href="#">Cerrar Sesión</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Carrito</a>
                            <ul>
                                <li><a href="#">Completa tus datos</a></li>
                                <li><a href="#">Metodo de Pago</a></li>
                                <li><a href="#">Confirmación de compra</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </nav>
            </center>
        </div>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year. Todos los derechos reservados. </p>
            </footer>

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
