@model IEnumerable<Sencillo_Project_DSW.Models.Producto>
@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<title>SENCILLO | Cada vez más cerca</title>

<style>
    .slider {
        margin-top: 140px;
    }
</style>

<!-- CARRUSEL DE FOTOS-->
<div class="slider">
    <ul>
        <img src="~/img/index-img/banner-1.jpg" alt="">
        <img src="~/img/index-img/banner-2.jpg" alt="">
    </ul>
</div>
<br />
<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
    <div class="col">
        <div class="card h-100">
            <img src="@Url.Content(string.Format("~/img/productos/{0}.jpg", item.idProducto))" class="card-img-top" />
            <div class="card-body">
                @Html.DisplayFor(modelItem => item.marca, new { @class = "card-title" })
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.descripcion) x @Html.DisplayFor(modelItem => item.medida)<br />
                    S/ @Html.DisplayFor(modelItem => item.precio)
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    @Html.ActionLink("Detalle", "detailsProducto", new { id = item.idProducto })
                </small>
            </div>
        </div>
    </div>
    }
</div>